<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col align-self-center ">
      <div>
        <h1 class="title text-center m-5 fw-bold">URL Shortener</h1>
      </div>

      <div class="picture row justify-content-center m-3">
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
          alt="shorter_wed">
      </div>

      <div>
        <form class="keyInBar" action="/copylink" method="GET">
          <div class="input-group w-50 m-4 mx-auto">
            <h3 class="title">Success! Please use htis link </h3>
            <a href="{{shortlink}}" class="shortlink fs-3 fw-lighter font-monospace">{{shortlink}}</a>
          </div>
          <div class="input-group-append">
            <div class="d-grid gap-2 col-6 mx-auto m-4">
              <button class="btn btn-primary" type="submit">copy</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>